.background {
  position: relative;
  height: 100%;
  width: 100%;
}

.background__container {
  max-width: 90rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-template-rows: 90px 190px 165px 180px;
  justify-items: center;
  position: relative;
}

.grid .fullwidth {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.background__image {
  grid-column: 1/-1;
  grid-row: 1/-1;
  border: 7px solid gold;
  border-radius: 10px;
}

.score {
  grid-column: 1/2;
  grid-row: 1/2;
}

.time {
  grid-column: 3/4;
  grid-row: 1/2;
}

.beaver {
  background-color: rgb(209, 209, 209);
  width: 50px;
  height: 75px;
  align-self: end;
}

.beaver.clicked {
  display: none;
}

.hole-a {
  grid-column: 1/2;
  grid-row: 2/3;
}
.hole-b {
  grid-column: 2/3;
  grid-row: 2/3;
}
.hole-c {
  grid-column: 3/4;
  grid-row: 2/3;
}
.hole-d {
  grid-column: 1/2;
  grid-row: 3/4;
}
.hole-e {
  grid-column: 2/3;
  grid-row: 3/4;
}
.hole-f {
  grid-column: 3/4;
  grid-row: 3/4;
}
.hole-g {
  grid-column: 1/2;
  grid-row: 4/5;
}
.hole-h {
  grid-column: 2/3;
  grid-row: 4/5;
}
.hole-i {
  grid-column: 3/4;
  grid-row: 4/5;
}

/* SCORE + TiME */
.score,
.time {
  color: #0b0b0b;
}