@import url("./_reset.css");
@import url("./_home-screen.css");
@import url("./_scoreboard.css");
@import url("./_game.css");

/* MAIN STYLING*/
a {
  text-decoration: none;
}
body {
  width: auto;
  height: 100dvh;
  transition: transform 0.1s;
}

/* CURSOR STYLING */
* {
  cursor: url("../assets/icons/hammer.png"), auto;
}

html.hammer-active * {
  cursor: url("../assets/icons/hammer-rotated.png") 16 16, auto;
}

html.hammer-active {
  cursor: url("../assets/icons/hammer-rotated.png") 16 16, auto;
}