/* MAIN STYLING */
body {
    width: auto;
    height: 100dvh;
    cursor: url("../assets/icons/hammer.png"), auto;
    transition: transform 0.1s;
  }
  
  body.hammer-active {
    cursor: url("../assets/icons/hammer-rotated.png") 16 16, auto;
    transform: translateZ(0) scale(1);
  }
  
  /* CURSOR STYLING */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-90deg);
    }
  }