.container-85 {
  font-family: "Bungee", cursive;
  width: 90%;
  max-width: 68rem;
}

.list {
  margin: 1rem 0;
}

.list__item {
  padding-bottom: 0.5rem;
}

.last {
  margin-bottom: 1.5rem;
}

.page-introduction {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.chapter-container {
  margin-bottom: 1.5rem;
}

.chapter {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.chapter__image {
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
}

.small {
  width: fit-content;
}

.chapter-step {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.chapter-info {
  padding-left: 1rem;
}

.chapter-info.first {
  margin-bottom: 0.5rem;
}

.codepen {
  width: 80%;
  margin: 1.5rem auto;
}
